body {
	background: rgb(142,238,212);
background: linear-gradient(90deg, rgba(142,238,212,1) 0%, rgba(132,175,226,1) 97%);
}
.canvas {
	margin: 0 auto;
	width: 300px;
	display: flex;
	justify-content: center;
}
.wrapper {
	width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 30px;
	color: green;
}
.description {
	width: 900px;
	margin: 0 auto;
	text-align: center;
	font-size: 40px;
	color: blueviolet;
}
button {
	font-size: 30px;
	background: rgba(0, 0, 0, 0.4);
	padding: 10px;
	border-radius: 20px;
	border: none;
	color: whitesmoke;
}
.control {
	width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
